<div class = "hero-unit">
		<h2> WELCOME to ONE MONTH RAILS! </h2>
		<p> You've found the home page for <%= link_to "One Month Rails","onemonthrails.com" %>
		<h5> <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
</div>

